<nav>
  <ul>
    <li><a routerLink="/new-announcement" routerLinkActive="active" ariaCurrentWhenActive="page">New Announcement</a></li>
    <li><a routerLink="/current-announcements" routerLinkActive="active" ariaCurrentWhenActive="page">Current Announcements</a></li>
    <li><a routerLink="/announcement-log" routerLinkActive="active" ariaCurrentWhenActive="page">Announcement Log</a></li>
    <li><a routerLink="/setup" routerLinkActive="active" ariaCurrentWhenActive="page">Setup</a></li>
  </ul>
</nav>

<router-outlet />
